.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Github-logo {
  fill: #ffc107;
}

.Github-label {
  color: #ffc107;
  font-weight: bold;
}

.Github-link:hover {
  border-style: solid;
  border-color: #ffc107;
}

.Linkedin-logo {
  fill: #0077B5;
}

.Linkedin-label {
  color: #0077B5;
  font-weight: bold;
}

.Linkedin-link:hover {
  border-style: solid;
  border-color: #0077B5;
}

.Email-logo {
  fill: #ff5722;
}

.Email-label {
  color: #ff5722;
  font-weight: bold;
  
}

.Email-link:hover {
  border-style: solid;
  border-color: #ff5722;
}
